@import '../../globals.scss';

.header {
    background-color: $black-color;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);
    position: relative;
    display: block;
    z-index: 10;
    &__row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 60px;
    }

    &__links__block {
      gap: 20px;
      display: flex;
      flex-direction: row;

    }
    &__link{
      font-weight: 400;
      font-size: 16px;
      text-transform: lowercase;
      text-align: center;
      color: $white-color;
      font-family: "Inter", sans-serif;
      transition: all 0.2s ease;
      background-image: linear-gradient(to right, $blue-color, $blue-color); 
      background-repeat: no-repeat; 
      background-size: 0px 2px;
      background-position: left bottom; 
      padding-bottom: 2px; 
      text-decoration: none; 
      transition: all 0.3s ease; 


      &:hover{
   background-size: 100% 2px;
      }
  
    }
    &__socials {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  }

  .active{
    background-image: linear-gradient(to right, $blue-color, $blue-color); 
    background-repeat: no-repeat; 
    background-size: 100% 2px;
    background-position: left bottom; 

}

@media(max-width: 820px){
  .header{
      display: none;
  }
}