@import url("https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

$black-color: #1e2227;
$blue-color: #0085ff;
$white-color: #ffffff;

$font-family: "Inter", sans-serif;
$second-family: "Inria Sans", sans-serif;
$montserrat-font: "Montserrat", sans-serif;

$font3: "Genos", sans-serif;
