@use "@styles/variables";

.footer {
  background: #1e2227;
  border-top: 3px solid #0085ff;
  position: relative;
  z-index: 10;

  &__row {
    display: flex;
    justify-content: space-between;
    padding: 16px 0px;
  }

  &__address-block {
    gap: 0px 56px;
    display: flex;
    flex-direction: row;
    max-width: 433px;
    align-items: center;
    flex-wrap: wrap;
  }

  &__address-place {
    font-family: variables.$font-family;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #fff;
    font-style: normal;
  }

  &__address-email {
    font-family: variables.$font-family;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #fff;
    font-style: normal;
  }

  &__address-number {
    font-family: variables.$font-family;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #fff;
    font-style: normal;
  }

  &__logos-block {
    display: flex;
    gap: 20px;
    align-items: flex-end;
  }

  &__logo {
    max-width: 100px;
    height: fit-content;
  }

  &__socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}

@media (max-width: 1190px) {
  .footer {
    &__row {
      flex-wrap: wrap;
    }

    &__logo {
      max-width: 130px;
    }

    &__address-place {
      font-size: 14px;
    }

    &__address-email {
      font-size: 14px;
    }

    &__address-number {
      font-size: 14px;
    }

    &__socials {
      & a > img {
        max-width: 30px;
      }
    }
  }
}

@media (max-width: 1190px) {
  .footer {
    &__row {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
    &__address-block {
      gap: 20px;
      max-width: 381px;
    }
  }
}

@media (max-width: 470px) {
  .footer {
    &__logos-block {
      flex-direction: column;
      align-items: center;
    }

    &__address-block {
      align-items: center;
      justify-content: center;
    }
  }
}
