@import '../../globals.scss';


.burger-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 30;
    display: none;
  }
  
  .burger-button {
    background-color: #2e3033;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  .menu {
    position: absolute;
    top: 60px;
    right: 0px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    min-width: 150px;
  }
  
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin: 10px 0;
  }
  
  .menu a {
    text-decoration: none;
    font-family: $font-family;
    color: #333;
    font-size: 16px;
    display: block;
    padding: 5px 10px;
  }
  
  .menu a:hover {
    background-color: #eaeaea;
    border-radius: 3px;
  }

  @media(max-width: 820px){
    .burger-container{
        display: block;
    }
  }