@import "../globals.scss";

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 55px 0px;
  padding: 0px 15px;

  .sport-selection {
    display: flex;
    gap: 20px;
  }

  .sport-label {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;

    & div {
      font-weight: bold;
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: #fff;
    }

    & input {
      max-width: fit-content;
    }
  }

  .form-wrapper {
    background: #292f36;
    color: #fff;
    padding: 2rem;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);

    h2 {
      font-family: $montserrat-font;
      font-weight: 700;
      font-size: 24px;
      text-transform: uppercase;
      text-align: center;
      color: #fff;
      margin-bottom: 24px;
    }

    form {
      .form-group {
        margin-bottom: 1rem;

        label {
          display: block;
          margin-bottom: 0.5rem;
          font-weight: bold;
          font-family: $font-family;
          font-weight: 400;
          font-size: 16px;
          color: #fff;
        }

        input {
          width: 100%;
          background: #1e2227;
          padding: 0.5rem;
          border: 1px solid #2f2f2f;
          border-radius: 15px;
          color: #fff;
          outline: none;
          font-family: $font-family;
          font-weight: 400;
          font-size: 16px;

          &:focus {
            border-color: #007bff;
          }
        }
      }

      .player-list {
        margin-bottom: 1rem;

        .player-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background: #1e2227;
          padding: 0.5rem;
          border-radius: 16px;
          margin-bottom: 0.5rem;
          font-family: $font-family;
          font-weight: 400;
          font-size: 16px;
          color: #fff;

          button {
            background: none;
            border: none;
            color: #ffffff;
            cursor: pointer;
            font-size: 2rem;
          }
        }
      }

      .add-player {
        display: flex;
        gap: 0.5rem;
        flex-direction: column;
        font-family: $font-family;
        font-weight: 400;
        font-size: 16px;
        color: #fff;

        &-form {
          display: flex;
          gap: 16px;
          margin-bottom: 20px;
        }
        input {
          flex: 1;
          font-family: $font-family;
          font-weight: 400;
          font-size: 16px;
          color: #fff;
          padding: 10px;
          border-radius: 15px;
          background-color: #1e2227;
          border: 0;
        }

        .role-selection {
          display: flex;
          gap: 0.5rem;

          label {
            display: flex;
            align-items: center;
            gap: 0.2rem;
            font-family: $font-family;
            font-weight: 400;
            font-size: 16px;
            color: #fff;
            input {
              margin: 0;
              font-family: $font-family;
              font-weight: 400;
              font-size: 16px;
              color: #fff;
            }
          }
        }

        button {
          background: #007bff;
          color: #fff;
          padding: 0.5rem 1rem;
          border: none;
          font-size: 24px;
          border-radius: 4px;
          cursor: pointer;

          &:hover {
            background: #0056b3;
          }
        }
      }

      button[type="submit"] {
        font-family: $font-family;
        font-weight: 400;
        font-size: 16px;
        color: #fff;
        width: 100%;
        padding: 0.75rem;
        background: #28a745;
        color: #fff;
        border: none;
        border-radius: 4px;
        font-size: 1rem;
        cursor: pointer;

        &:hover {
          background: #218838;
        }
      }
    }
  }
}

.form-error-message {
  color: red;
  margin-bottom: 10px;
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.error-message {
  color: #ff4d4f;
  margin-bottom: 10px;
  margin-top: 1rem;
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.role-selection label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .add-player-form {
    flex-direction: column;
  }
}

.form-sport {
  max-width: 100%;
  background: #1e2227;
  padding: 8px;
  border: 1px solid #2f2f2f;
  border-radius: 15px;
  outline: none;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #757572;
  font-size: 16px;
}

.form-address {
  max-width: 100%;
  background: #1e2227;
  padding: 8px;
  border: 1px solid #2f2f2f;
  border-radius: 15px;
  outline: none;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #757572;
  font-size: 16px;
}

@media(max-width: 400px){
    .sport-selection{
      flex-direction: column;
    }
}


