
@import '../../globals.scss';


.news{
    background-color: $black-color;
    &__title{
        font-family: $font-family;
        font-weight: 600;
        font-size: 48px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        padding: 70px 0px;
    }

    &__row{
        display: flex;
        justify-content: center;
        gap: 80px;
        flex-wrap: wrap;
        padding-bottom: 70px;
    }

    &__column{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 26px;

    }

    &__card-title{
        font-family: $font-family;
        font-weight: 600;
        font-size: 36px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        width: 100%;
    }

    &__card-preview{
        box-shadow: 14px 33px 19px 12px rgba(0, 0, 0, 0.16);
        max-width: 100%;
    }

    &__card-button{
        border: 3px solid #0085ff;
        border-radius: 30px;
        font-family: "Inter", sans-serif;
        background-color: #1e2227;
        padding: 10px;
        display: flex;
        font-weight: 600;
        gap: 10px;
        font-size: 15px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #fff;
        align-items: center;
        transition: all 0.2s ease;

        &:hover{
            box-shadow:0 0 10px #0085ff;
        }


        &:hover .news__card-button-arrow {
            transform:scale(1.1);
        }
    }

    &__card-button-arrow{
        transition: all 0.2s ease;

    }
}